div {
  width: 200px;
  height: 200px;
}

#first-div, #second-div {
  width: 200px;
  min-height: 400px;
  height: auto; 
  padding: 50px;
  border: 5px solid black;
}

#first-div {
  background-color: #39cccc;
}

#second-div {
  box-sizing: border-box;
  background-color: #ff4136;
}

p {
  background-color: #7fdbff;
}

.min-height-div {
  min-height: 400px;
}

.default-div{
  height: 10px;
  min-height: 400px;
}

.image-1-container{
  display: inline;
}
#dog {
  max-width: 400px;
  max-height: 

}

/*

Figure out which property allows you to make an element take up at least 400px, but grow as needed.

*/